* {
    box-sizing: border-box;    
}
header, footer {
    /* vh-viewport height */
    /* vw-viewport width */
    height: 10vh;
    padding: 10px;
    background-color: red;
}
main {
    display: flex;
    height: 80vh;
}
nav {
    background-color: orange;  
    width: 20%;
    padding: 10px; 
}
article {
    background-color: yellow;  
    width: 60%;
    padding: 10px; 
}
aside {
    background-color: green;  
    width: 20%;
    padding: 10px; 
}
body {
    margin: 0;
}