body {
	background-color: black;
	font-family: sans-serif;
}

.calculator {
	background-color: red;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 50px auto;
	max-width: 300px;
}

.display {
	background-color: gainsboro;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

.display input[type="text"] {
	border: none;
	background-color: transparent;
	width: 100%;
	text-align: right;
	font-size: 1.5em;
}

.buttons {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}

button {
	padding: 10px;
	border: none;
	background-color: whitesmoke;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
}

button:hover {
	background-color: violet;
}
