.navcontainer {
    display: flex;
    place-items: center;
    padding: 0;
    margin-bottom: 1em;
    width: 100%;
    font-size: 17px;
}

.navbar {
    background: black;     
    padding: 0;

}
.col-3 {
    /* margin-top: 5em; */
    padding: 0;
    width: 20rem;
    
}
